/*Styling the nav bar for the website*/
.nav{
    display:flex;
    margin:20px;
    border:5px solid rgb(0, 0, 0);
    border-style:outset;
    position:sticky;
    top: 0;
    background: white;
    align-items: center;
    padding: 0;
}

.nav a{
    text-decoration:none;
    color:rgb(0, 0, 0);
    text-align:center;
    font-size:15px;
    display:block;
    position:sticky;
    flex: 1;
    padding: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: background 0.3s ease;
}

.nav a:hover{
    background-color:rgb(165, 159, 159);
    column-gap: fill;
}
/*Styling the body and information for the website*/

body{
    background-color:rgb(255, 255, 255)
}

h1{
    color:rgb(0, 0, 0);
    text-align:center;
    font-style: italic ;
}
h2{
    color:rgb(0, 0, 0);
    font-style: italic ;
}

h3{
    color:rgb(0, 0, 0);
    font-style: italic ;
}

h4{
    color:rgb(0, 0, 0);
    font-style: italic ;
}

h5{
    color:rgb(0, 0, 0);
    text-align:center;
}

p{
    color:rgb(0, 0, 0);
    font-style: italic ;
}

li{
    color:rgb(0, 0, 0);
    font-style: italic ;

}

/*Removing the underline fron the job title*/
.job{
    text-decoration: underline;
}

/*Styling the footer for the website*/
footer{
    text-align:center;
    
}

/*Permanently showing the scroll bar on the right of the page to prevent content from shifting when scrolling*/
html {
  overflow-y: scroll;
}
